*{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #838383;
}
.special .thumbnail{
	background: transparent !important;
	border: 0px transparent;
	box-shadow: none;
}
.special .caption{
	text-transform: uppercase;
}
a:link, a:focus, a:visited{
	color: #555555;
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	border-top-color: initial;
	border-top-style: none;
	border-top-width: initial;
	border-right-color: initial;
	border-right-style: none;
	border-right-width: initial;
	border-bottom-color: initial;
	border-bottom-style: none;
	border-bottom-width: initial;
	border-left-color: initial;
	border-left-style: none;
	border-left-width: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

header{
	background-image: url(../img/transp_bg.png);
	background-repeat: -1;
	width: 100%;
	height: auto;
}

header img{
	margin-top: 10px;
}
#imaginary_container{
	margin: 25px 0px 20px 0px;
}
.stylish-input-group .input-group-addon{
	border-radius: 0px 15px 15px 0px;
	background: white !important; 
}
.stylish-input-group .form-control{
	border-radius: 15px 15px 15px 15px;
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{

	border:0;
	background:transparent;
}
/***********************************NAVBAR******************************************************/
.navbar{
	background-image: url("../img/bg-special.png");
	background-repeat: repeat;
	border-bottom:  1px solid #d9d9d9;
	border-top:  1px solid #d9d9d9;
}
.navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
}
ul.nav li{

}
ul.nav li:hover{
	border-radius: 4px;
	background-color: #e7ffe2 !important;
	border: 1px solid #b1dab3;
}

ul.nav li a{
	text-transform: uppercase;
	font-weight: bold;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		color: #bd2026;
}
.dropdown-toggle{
	position: relative;
	z-index: 2;
}
ul.nav>li.dropdown:hover>.dropdown-menu{
	background-color: #e7ffe2;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #838383;
	margin: 0px -1px 0px;

}
a.drpopdown-toggle{
	color: #838383;
}

.dropdown-menu{
	box-shadow: none;
	border: 1px solid #b1dab3;
}
.dropdown-menu li{
	padding: 10px;
}
.dropdown-menu li a{
	color: #838383;
}
.dropdown-menu li a:hover{
	background: none !important;
	color: #bd2026;
}
/*............SLIDESHOW...................................*/

.slideshow{
	margin-top: 5px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	height: auto;
	max-width: 100%;
}
.panel-heading{
	background-color: #ffffff;
	box-shadow: none;
	border: 0px;
}
.panel-body{
	border-color: #ffffff;
	border: transparent;
	box-shadow: none;
}
.product .caption{
	background-color: #F7F7F7;
}
.carousel img,img,img{
	border-radius: 4px 4px 4px 4px;
}
.carousel-indicators .active{
	background-color: #bd2026;
}
.carousel-indicators li{
	background-color: #666;
	margin: 0px 5px; 
}
ol.carousel-indicators{
	margin: auto;
}
#sidebar1{
	margin-top: 5px;
}

#sidebar1 .panel{
	height: 342px;
	border: 1px solid #b1dab3;
	background-color: #e7ffe2;
}
#sidebar1 .panel-heading{
	background-image: linear-gradient(to bottom,#e7ffe2 0,#e7ffe2 100%);
}
#sidebar1 .panel-body{
		color: #189001;
}
#sidebar1 strong{
	color: #189001;
}
/*..............BANNER......................................................*/
.banner{
	background-image: url(../img/line.png);
	background-repeat: repeat-x;
	background-position: top;
	padding-top: 10px;
}
.hotline{
	background-image: url(../img/bg-hot-line.png);
	width: 316px;
	height: 142px;
	float: left;
	margin-left: 10px;
	padding: 5px;
	font-size: 20px;
}

.payment{
    margin-left: 15px;
    width: 311px;
    height: 142px;
    position: relative;
    display: block;
    float: left;
}
.support{
	float: left;
	margin-left: 25px;
	background-image: url(../img/bg-support-choose.png);
    width: 470px;
    height: 142px;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: right top;
}
.special-title{
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    background-image: url(../img/line.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin: 0px 0px 3px 0px;
 
    
}
.special-title h2{
	text-transform: uppercase;
	background-color: #ffffff;
	color: #636363;
	clear: both;
	background-image: url(../img/icon-hyt.png);
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 18px;
	padding: 0px 0px 0px 30px;
    width: 350px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}
.special {
	background-image: url(../img/bg-special.png);
	background-repeat: -1;
	width: 100%;
	height: auto;
	padding-top: 20px;
}
.special img{
	 transition: transform .2s
}
.special img:hover{
	    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*....................LEFT...................................*/
.content .panel{
	border: none;
	box-shadow: none;
}

.content .caption{
	background-color: #F7F7F7;
	padding-top: 2px;
}
.panel-heading a{
	color: #bd2026;
}

.panel-body{
	padding-bottom: 0px;
	padding-top: 0px;
}


.noibat{
	margin-top: 10px;
}
.noibat .panel-heading{
	    background-image: linear-gradient(to bottom,#ffe6dd 0,#ffe6dd 100%);
}
.noibat .panel{
	background-color: #ffe6dd;
}

.noibat .thumbnail:hover{
	box-shadow: 2px 2px 2px 2px;
	margin-top: -5px;
}

.noibat .thumbnail h5 b{
	color: #bd2026;
}
.giohoatuoi{
	margin-top: 10px;
}
.giohoatuoi .panel-heading{
	    background-image: linear-gradient(to bottom,#F7F7F7 0,#F7F7F7 100%);
}
.giohoatuoi .panel{
	background-color: #F7F7F7;
}
.giohoatuoi .thumbnail:hover{
	box-shadow: 2px 2px 2px 2px;
	margin-top: -5px;
}

.giohoatuoi .thumbnail h5 b{
	color: #bd2026;
}
.khuyenmai{
	margin-top: 10px;
}
.khuyenmai .panel-heading{
	    background-image: linear-gradient(to bottom,#F7F7F7 0,#F7F7F7 100%);
}
.khuyenmai .panel{
	background-color: #F7F7F7;
}
.khuyenmai .thumbnail:hover{
	box-shadow: 2px 2px 2px 2px;
	margin-top: -5px;
}

.khuyenmai .thumbnail h5 b{
	color: #bd2026;
}
/*....................RIGHT...................................*/
.right{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	border: 1px solid #d4e9ff;
	background-color: #d4e9ff;
	border-radius: 4px 4px 4px 4px;
}
.price-search{
	border-bottom: 1px solid #80ced6;
}
.right-banner1 img{
	margin: 5px 0px 0px 5px;
	display: block; 
	margin-left:  auto; 
	margin-right: auto;
	margin-top: 20px;
}
.right-banner2 img{
	width: 229px; 
	display: block;
	margin-left:  auto; 
	margin-right: auto;
	margin-top: 20px;
}
.right-banner3{
	margin-top: 20px;
	color: #189001;
	background-color: #ffffff;
	border: 1px solid #189001;
	border-radius: 4px 4px 4px 4px;
	padding: 10px;
	width: 229px; 
	display: block;
	margin-left:  auto; 
	margin-right: auto;
}
/*...........................CSS CHI TIET SAN PHAM........................*/

.product_detail{
	margin-top: 10px;
}
.detail .caption{
	background-color: #F7F7F7;
	border-top: 1px solid #cccccc;

}
.detail .caption a{
	width: 100%;
	font-weight: 600;
	color: #ffffff;
	font-size: 18px;
}
.detail .caption a:hover{
	cursor: pointer;
	background: -webkit-linear-gradient(top,#ef8d02,#f05e0b);
}

.detail .glyphicon{
	color: #ffffff;
}
.describe .panel{
	box-shadow: none;
	background-color: #e7ffe2;
	border: 1px solid #b1dab3;
}
.describe .panel-heading{
	background-color: #e7ffe2;
	margin-top: 0px;
	margin-bottom: 0px;
}
.describe .panel-heading h4{
	text-transform: uppercase;
	color: #189001;
}
.describe .panel-body{
	padding-bottom: 25px;
	line-height: 1.6;
	color: #189001;
}

.more{

	border:  1px solid #d8d297;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	background-color: #fffcd9;
}
.more>ul>li{
		color: #f26922;
		margin-top: 5px;
}
.more>ul>li>span{
		background-color: #f26922;
}
.more>ul{
		list-style-type: none;
		color: #f26922;
		margin-top: 5px;

}
.cungloai{
	margin-top: 40px;
}
.cungloai .panel-heading{
	    background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
	    border-bottom: 1px solid #cccccc;
}
.cungloai .panel-body{
	    margin-top: 20px;
}

.cungloai .thumbnail h5 b{
	color: #bd2026;
}
footer{
	background-image: url("../img/bg-special.png");
	background-repeat: repeat;
	width: 100%;
	height: auto;
	margin-top: 5px;
	padding: 20px;
}

footer .footer{

}
/*...........................CSS DANH SÁCH SẢN PHẨM........................*/
.product_list{
	margin-top: 10px;
}
.product_list .panel-heading{
	 background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
.product_list .panel-body{
	margin-top: 20px;
}

.pagination {
    display: block;
    padding: 5px 10px;
    float: right;
}
.pagination{
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 2px;
}
.pagination a{
	font-weight: bold;
    border: 1px solid #737373;
    padding: 4px 10px 4px 10px;
    margin: 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #666666;
    color: #838383;
}
.pagination strong{
	font-weight: bold;
    border: 1px solid #737373;
    padding: 4px 10px 4px 10px;
    margin: 2px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #666666;
    	color: #e60000;
	background-color: #ffffff;
}

/********************BACK TO TOP BUTTON********************/
a.cd-top {
display: inline-block;
height: 60px;
width: 60px;
position: fixed;
bottom: 20px;
right: 15px;
/* image replacement properties */
overflow: hidden;
text-indent: 100%;
white-space: nowrap;
background-image: url(../img/back-to-top-button.png);
background-size: 60px 60px;
visibility: hidden;
opacity: 0;
-webkit-transition: opacity .3s 0s, visibility 0s .3s;
-moz-transition: opacity .3s 0s, visibility 0s .3s;
transition: opacity .3s 0s, visibility 0s .3s;
}
a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
-webkit-transition: opacity .3s 0s, visibility 0s 0s;
-moz-transition: opacity .3s 0s, visibility 0s 0s;
transition: opacity .3s 0s, visibility 0s 0s;
}
 
a.cd-top, a.cd-top:visited, a.cd-top:hover {
color: #CCCCCC;
text-decoration: none;
}
 
a.cd-top.cd-is-visible {
/* the button becomes visible */
visibility: visible;
opacity: 1;
}
a.cd-top.cd-fade-out {
/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
opacity: 1;
}

/**************************GIO HANG***************************************************/

.cart{
	margin-top: 10px;
}
.cart .panel{
	box-shadow: none;
	background-color: #F7F7F7;
	border: 1px solid #cdcdcd;
}
.cart .panel-heading{
	 background-image: linear-gradient(to bottom,#F7F7F7 0,#F7F7F7 100%);
	margin-top: 0px;
	margin-bottom: 0px;
}
.cart .panel-heading h4{
	text-transform: uppercase;
	color: #333;
}
.cart .panel-body{
	border-top: 1px solid #cdcdcd;
	padding-bottom: 25px;
	line-height: 1.6;
	padding-top: 10px;
}
.cart .panel-body h4{
	color: #bd2026;
}

.cart .panel-body h5:{
	color: #bd2026;
}
.cart .panel-body h3:{
	color: #0000b3;
}

.cart img{
		border: 1px solid #cdcdcd;
}
.cart img:hover{
	transform: scale(1.1);
}

/************************************DANG KY DANG NHAP*************************************/
.register{
	margin-top: 10px;
}
.register .panel{
	box-shadow: none;
	border: 1px solid #cdcdcd;
}
.register{
	margin-top: 10px;
}
.register .panel-heading{
	 background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}
.register .panel-heading h4{
	color: #189001;
}
.register .panel-body{
	margin-top: 20px;
}
.register .form-group{
	margin-bottom: 40px;
}
.error p{
	margin-top: 2px;
	color: red;
}

.success-alert{
	border: 1px solid #33adff;
	background: #ccebff;
	margin: 0px 15px 15px 15px;
	border-radius: 4px;
	padding: 20px;
	color: #33adff;
}
.success-alert .glyphicon{
	color: #33adff;
}